.title{
    position: absolute;
    top: 15%;
    left: 42%;
    color: azure;
    text-align: center;
    display: block;
}
.des{
    position: absolute;
    top: 35%;
    left: 40%;
    color: azure;
    color: azure;
    text-align: center;
    display: block;
}

.image{
    border-radius: 10px;
}

.viewbtn{
    position: absolute;
    top: 55%;
    left: 35%;
    color: azure;
    color: azure;
    background-color: seagreen;
    border-radius: 5px;
}

.sharebtn{
    position: absolute;
    top: 55%;
    left: 55%;
    color: azure;
    color: azure;
    background-color: seagreen; 
    border-radius: 20%;   
}

.caption{
    display: inline;
    visibility: hidden;
}

.component{
    margin-bottom: 5%;
}