.title{
    position: absolute;
    top: 15%;
    left: 42%;
    color: azure;
    text-align: center;
    display: block;
}
.des{
    position: absolute;
    top: 35%;
    left: 40%;
    color: azure;
    color: azure;
    text-align: center;
    display: block;
}

.image{
    border-radius: 10px;
    transition: transform 0.5s;
}

.viewbtn{
    position: absolute;
    top: 55%;
    left: 35%;
    color: azure;
    color: azure;
    background-color: seagreen;
    border-radius: 5px;
}

.sharebtn{
    position: absolute;
    top: 55%;
    left: 55%;
    color: azure;
    color: azure;
    background-color: seagreen; 
    border-radius: 20%;   
}

.caption{
    display: inline;
    visibility: hidden;
}

.component{
    margin-bottom: 5%;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  #close {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #ffffff;
    background-color: seagreen;
    border: none;
    border-radius: 5px;
  }

  #close:hover, #close:focus{
    color: #000000;
  }
 
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }

    #close{
      right: 5px;
    }
  }
  